<%- include("../includes/head.ejs") %>
</head>
<body>
  <%- include ("../includes/navigation.ejs") %>
  <main>
    <% if (prods.length >0) {%> <% prods.forEach((product)=> { %>
    <div class="grid">
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%=product.title%></h1>
        </header>
        <div class="card__image">
          <img src="<%=product.imageUrl %>" alt="A Book" />
        </div>
        <div class="card__content">
          <h2 class="product__price"><%=product.price %></h2>
          <p class="product__description"><%=product.description %></p>
        </div>
        <div class="card__actions">
          <a href="/admin/edit-product/<%=product.id%>?edit=true/" class="btn">Edit</a>
          <form method="POST" action="/admin/delete-product">
            <input type="hidden" name="productId" value="<%=product.id %>">
            <button class="btn" type="submit">Delete</button>
          </form>
        </div>
      </article>
    </div>
    <% }) %> <% } else { %>
    <h1>No Products available</h1>
    <% } %>
  </main>
</body>
