<!DOCTYPE html>
<html>
  <head>
    <%- include ("../includes/head.ejs") %>
  </head>

  <body>
    <%- include ("../includes/navigation.ejs") %>
    <main>
      <% if (prods.length >0) {%> <% prods.forEach((product)=> { %>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%=product.title%></h1>
          </header>
          <div class="card__image">
            <img src="<%=product.imgUrl %>" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= product.price %></h2>
            <p class="product__description"><%=product.description %></p>
          </div>
          <div class="card__actions">
            <a href="/products/<%= product.id %>" class="btn">Details</a>
            <%- include("../includes/add-to-cart.ejs",{product:product}) %>
          </div>
        </article>
      </div>
      <% }) %> <% } else { %>
      <h1>No Products available</h1>
      <% } %>
    </main>
  </body>
</html>
